spring:
  application:
    name: aidea-backend
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
    

  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      model: gpt-3.5-turbo

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
