spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID:ebdbba052c461ca5ce7c8eeb8cbbcfef}
            client-secret: ${KAKAO_CLIENT_SECRET:mxgvMPIntBsVEszWcv7uuKL3UutO7kxx}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            scope:
              - profile_nickname
              - account_email
              - profile_image
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id


  datasource:
    url: jdbc:mysql://localhost:3307/aidea_dev?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: aidea
    password: aidea1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true

  data:
    redis:
      host: localhost
      port: 6379
  
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: ${AWS_S3_BUCKET:aidea-s3-bucket}

jwt:
  secret: local-dev-secret-key-change-this-in-production-environment-aidea-2026
  expiration: 86400000

logging:
  level:
    com.aidea: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: DEBUG

vector-datasource:
  url: jdbc:postgresql://localhost:5432/aidea_dev
  username: aidea
  password: aidea1234
  driver-class-name: org.postgresql.Driver
